body{
	font-family: 'Raleway';
	background-color: indianred;
}

.my-border-red{
	border:1px solid indianred;
}

.my-100vh{
	height:100vh;
}

.my-light-bg{
	background-color: rgba(255, 255, 255, 0.548);
}

.my-dice-btn{
	height:180px;
	width:180px;
	min-width:180px;
	min-width:180px;
	border-radius:20px;
	margin-bottom:3rem;
	background: rgb(255,255,255);
	background: radial-gradient(circle, rgba(255,255,255,1) 63%, rgba(223,223,223,1) 100%);
	border: 1px solid transparent;
	box-shadow: 0px 15px 20px 5px rgb(77, 77, 77);
}

.dice-face-element{
	height:40px;
	width:40px;
	border-radius:18px;
	background-color: #787878;
	box-shadow: inset 0px 0px 12px 9px rgb(0, 0, 0);
}

section#mail-check,
section#roll-the-dice{
	min-width:200px;
}